@model ExploreRussia.Domain.Models.Guide

@{
    ViewData["Title"] = "Детали гида";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="details-container">
    <h4 class="text-center">Гид</h4>
    <hr />
    <dl class="row justify-content-center">
        <dt class="col-sm-3 text-right">
            Фамилия
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3 text-right">
            Имя
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3 text-right">
            Отчество
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class="col-sm-3 text-right">
            Email
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3 text-right">
            Телефон
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-3 text-right">
            Опыт работы
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.ExperienceYears)
        </dd>
        <dt class="col-sm-3 text-right">
            Изображение
        </dt>
        <dd class="col-sm-9 text-left">
            <img src="@Model.ImageUrl" alt="@Model.FirstName @Model.LastName" class="img-thumbnail" style="max-width: 100px;" />
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
    <a asp-action="EditList" class="btn btn-secondary">Назад к списку</a>
</div>

<style>
    .details-container {
        max-width: 600px;
        margin: 0 auto;
    }

        .details-container dt {
            font-weight: bold;
            text-align: right;
        }

        .details-container dd {
            text-align: left;
            margin-bottom: 10px;
        }

        .details-container .img-thumbnail {
            display: block;
            margin: 0 auto;
        }

        .details-container .text-center {
            margin-top: 20px;
        }
</style>
