@model IEnumerable<ExploreRussia.Domain.Models.Guide>

@{
    ViewData["Title"] = "Гиды";
}


<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.LastName @item.FirstName @item.Patronymic</h5>
                    <p class="card-text">Телефон: @item.Phone</p>
                    <p class="card-text">Email: @item.Email</p>
                    <p class="card-text">Опыт работы: @item.ExperienceYears</p>
                    <p class="card-text">Пол: @item.Gender.Name</p>
                </div>
            </div>
        </div>
    }
</div>

