@model List<ExploreRussia.Domain.Models.Order>
@{
    ViewData["Title"] = "Админ панель";
}

<h1>Админ панель</h1>


<a asp-controller="Guide" asp-action="EditList" class="btn btn-secondary">Управление гидами</a>
<a asp-controller="Trip" asp-action="Index" class="btn btn-secondary">Управление походами</a>

<h2 style="margin-top: 30px">Заявки</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ФИО клиента</th>
            <th>Номер телефона</th>
            <th>Электронная почта</th>
            <th>Название похода</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.User.LastName @order.User.FirstName @order.User.Patronymic</td>
                <td>@order.User.Phone</td>
                <td>@order.User.Email</td>
                <td>@order.Trip.TripName</td>
                <td>@order.TotalAmount.ToString("C")</td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@order.Id" class="btn btn-primary btn-group btn-group-vertical">Изменить цену</a>
                    @{
                        if (order.Status == "Confirmed")
                        {
                            <form asp-action="EndOrder" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="@order.Id" name="id" />
                                <button action="sumbit" class="btn btn-danger btn-group btn-group-vertical">Завершить</button>
                             </form>
                        }
                        if(order.Status == "Pending")
                        {
                            <form asp-action="ConfirmOrder" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="@order.Id" name="id"/>
                                <button action="sumbit" class="btn btn-success btn-group btn-group-vertical">Подтвердить</button>
                            </form>
                        }
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>