@using System.Globalization
@model List<ExploreRussia.Domain.Models.Trip>
    @{
    ViewData["Title"] = "Главная страница";
    }

    <h1>Доступные походы</h1>
    @foreach (var trip in Model)
{
    <div>
        <h2>@trip.TripName</h2>
        <p>@trip.Description</p>
        <p>Цена: @trip.Price</p>
        <p>Дата начала: @trip.StartDate</p>
        <p>Дата конца: @trip.EndDate</p>
        <a asp-action="BookTrip" asp-route-id="@trip.Id">Book Now</a>
    </div>
}
