@model ExploreRussia.Domain.Models.User

<div class="container mt-5" style="max-width: 800px; margin:0 auto; vertical-align: central">
    <h2 class="text-center">Профиль</h2>
    <form asp-action="UserProfile" method="post" class="mt-4">
        <div class="form-group row">
            <label for="Email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="FirstName" class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="LastName" class="col-sm-2 col-form-label">Фамилия</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="Phone" class="col-sm-2 col-form-label">Телефон</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
            </div>
        </div>
        <div class="form-group row " >
            <div class="col-sm-10" style="vertical-align: central; margin: 0 auto">
                <button type="submit" class="btn btn-primary w-100" style="max-width: 250px">Сохранить изменения</button>
            </div>
        </div>
    </form>
</div>

<h3>Мои заявки</h3>
<table class="table">
    <thead>
        <tr>
            <th>Поход</th>
            <th>Дата заявки</th>
            <th>Сумма</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders.Where(x => x.Status !="Canceled"))
        {
            <tr>
                <td>@order.Trip.TripName</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.TotalAmount</td>
                <td>@order.Status</td>
                <td>
                    @if (order.Status == "Pending")
                    {
                        <form asp-action="CancelOrder" method="post">
                            <input type="hidden" name="orderId" value="@order.Id" />
                            <button type="submit" class="btn btn-danger" >Отменить</button>
                        </form>
                    }
                    @if(order.Status == "Finished")
                    {

                            <button type="button" class="btn btn-primary" onclick="openReviewModal()">Оставить отзыв</button>
 
                    }
                </td>
                <td>
                    <div id="reviewModal" class="review-modal">
                        <div class="review-modal-content">
                            <span class="review-close" onclick="closeReviewModal()">&times;</span>
                            <h2>Оставить отзыв</h2>
                            <form asp-action="SubmitReview" method="post">
                                <div class="form-group">
                                    <label for="Rating">Рейтинг</label>
                                    <select class="form-control" id="Rating" name="Rating" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Comment">Комментарий</label>
                                    <textarea class="form-control" id="Comment" name="Comment" rows="3"></textarea>
                                </div>
                                <input type="hidden" name="TripId" value="@order.Trip" /> <!-- Установите правильное значение TripId -->
                                <input type="hidden" name="UserId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>
<script>
    function openReviewModal() {
        document.getElementById('reviewModal').style.display = 'block';
    }

    function closeReviewModal() {
        document.getElementById('reviewModal').style.display = 'none';
    }

    // Закрытие модального окна при клике вне его
    window.onclick = function (event) {
        var modal = document.getElementById('reviewModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>

