@model ExploreRussia.Domain.Models.Trip

@{
    ViewData["Title"] = "Детали похода";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="details-container">
    <h4 class="text-center">Поход</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-right">
            Название похода
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.TripName)
        </dd>
        <dt class="col-sm-3 text-right">
            Описание
        </dt>
        <dd class="col-sm-9 text-left">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3 text-right">
            Цена
        </dt>
        <dd class="col-sm-9 text-left">
            @string.Format("{0:C}", Model.Price)
        </dd>
        <dt class="col-sm-3 text-right">
            Дата начала
        </dt>
        <dd class="col-sm-9 text-left">
            @Model.StartDate?.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-3 text-right">
            Дата окончания
        </dt>
        <dd class="col-sm-9 text-left">
            @Model.EndDate?.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-3 text-right">
            Изображение
        </dt>
        <dd class="col-sm-9 text-left">
            <img src="@Model.ImageUrl" alt="@Model.TripName" class="img-thumbnail" style="max-width: 100px;" />
        </dd>
        <dt class="col-sm-3 text-right">
            Актуальность
        </dt>
        <dd class="col-sm-9 text-left">
            @if (Model.IsActual)
            {
                <i class="fas fa-check text-success"></i>
            }
            else
            {
                <i class="fas fa-times text-danger"></i>
            }
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
    <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
</div>

<style>
    .details-container {
        max-width: 600px;
        margin: 0 auto;
    }

        .details-container dt {
            font-weight: bold;
            text-align: right;
        }

        .details-container dd {
            text-align: left;
            margin-bottom: 10px;
        }

        .details-container .img-thumbnail {
            display: block;
            margin: 0 auto;
        }

        .details-container .text-center {
            margin-top: 20px;
        }
</style>
