@model IEnumerable<ExploreRussia.Domain.Models.Trip>

@{
    ViewData["Title"] = "Список походов";
}

<h1>Список походов</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать новый поход</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название похода
            </th>
            <th>
                Описание
            </th>
            <th>
                Цена
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата окончания
            </th>
            <th>
                Изображение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="@item.TripName" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
